*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: gray;
    display: block;
}

section{
    background-color: white;
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

button{
    display: block;
    margin: auto;
    border: 3px solid black;
    width: 50%;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover{
    background-color: black;
    color: white;
    transition: all 0.2s;
}

h1{
    background-color: black;
    color: white;
    padding: -20px;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}

header{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 3px;
}

a{
    text-decoration: none;
}